{"http_interactions": [{"request": {"body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues", "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}, "recorded_at": "2016-10-30T18:36:51", "response": {"body": {"string": "[{\"url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/20\",\"repository_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP\",\"labels_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/20/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/20/comments\",\"events_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/20/events\",\"html_url\":\"https://github.com/bobtestd/MIPYTBotTMP/issues/20\",\"id\":186149609,\"number\":20,\"title\":\"betamax: multiple labels in different comments\",\"user\":{\"login\":\"bobtestd\",\"id\":22890776,\"avatar_url\":\"https://avatars.githubusercontent.com/u/22890776?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bobtestd\",\"html_url\":\"https://github.com/bobtestd\",\"followers_url\":\"https://api.github.com/users/bobtestd/followers\",\"following_url\":\"https://api.github.com/users/bobtestd/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/bobtestd/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/bobtestd/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/bobtestd/subscriptions\",\"organizations_url\":\"https://api.github.com/users/bobtestd/orgs\",\"repos_url\":\"https://api.github.com/users/bobtestd/repos\",\"events_url\":\"https://api.github.com/users/bobtestd/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/bobtestd/received_events\",\"type\":\"User\",\"site_admin\":false},\"labels\":[],\"state\":\"open\",\"locked\":false,\"assignee\":null,\"assignees\":[],\"milestone\":null,\"comments\":2,\"created_at\":\"2016-10-30T17:24:45Z\",\"updated_at\":\"2016-10-30T18:35:05Z\",\"closed_at\":null,\"body\":\"Just do it! Let the Force be with you...\"},{\"url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/19\",\"repository_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP\",\"labels_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/19/labels{/name}\",\"comments_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/19/comments\",\"events_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/19/events\",\"html_url\":\"https://gi[...]
{"request": {"body": {"string": "", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/20/comments", "headers": {"Authorization": "token <TOKEN>"}, "method": "GET"}, "recorded_at": "2016-10-30T18:36:51", "response": {"body": {"string": "[{\"url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/comments/257164800\",\"html_url\":\"https://github.com/bobtestd/MIPYTBotTMP/issues/20#issuecomment-257164800\",\"issue_url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/20\",\"id\":257164800,\"user\":{\"login\":\"bobtestd\",\"id\":22890776,\"avatar_url\":\"https://avatars.githubusercontent.com/u/22890776?v=3\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/bobtestd\",\"html_url\":\"https://github.com/bobtestd\",\"followers_url\":\"https://api.github.com/users/bobtestd/followers\",\"following_url\":\"https://api.github.com/users/bobtestd/following{/other_user}\",\"gists_url\":\"https://api.g[...]
{"request": {"body": {"string": "[\"enhancement\", \"invalid\"]", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/20/labels", "headers": {"Authorization": "token <TOKEN>"}, "method": "POST"}, "recorded_at": "2016-10-30T18:36:51", "response": {"body": {"string": "[{\"id\":463256603,\"url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/labels/enhancement\",\"name\":\"enhancement\",\"color\":\"84b6eb\",\"default\":true},{\"id\":463256605,\"url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/labels/invalid\",\"name\":\"invalid\",\"color\":\"e6e6e6\",\"default\":true}]", "encoding": "utf-8"}, "url": "https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/20/labels", "headers": {"Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4986", "X-OAuth-Scopes": "public_repo", "ETag": "\"81e08cc34dc2b2e62123036f8c1fb12a\"", "Status": "200 OK", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "5000", "X-Accepted-OAuth-Scopes": "public_repo, repo", "X-RateLimit-Reset": "1477855990"}, "status": {"code": 200, "message": "OK"}}}, [...]
{"request": {"body": {"string": "[\"bug\"]", "encoding": "utf-8"}, "uri": "https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/15/labels", "headers": {"Authorization": "token <TOKEN>"}, "method": "POST"}, "recorded_at": "2016-10-30T18:36:53", "response": {"body": {"string": "[{\"id\":463256601,\"url\":\"https://api.github.com/repos/bobtestd/MIPYTBotTMP/labels/bug\",\"name\":\"bug\",\"color\":\"ee0701\",\"default\":true}]", "encoding": "utf-8"}, "url": "https://api.github.com/repos/bobtestd/MIPYTBotTMP/issues/15/labels", "headers": {"Content-Type": "application/json; charset=utf-8", "X-RateLimit-Remaining": "4976", "X-OAuth-Scopes": "public_repo", "ETag": "\"d3719dda4903a4f2a5ec255934f7fb28\"", "Status": "200 OK", "X-GitHub-Media-Type": "github.v3; format=json", "X-RateLimit-Limit": "5000", "X-Accepted-OAuth-Scopes": "public_repo, repo", "X-RateLimit-Reset": "1477855990"}, "status": {"code": 200, "message": "OK"}}}], "recorded_with": "betamax/0.8.0"}